:root{
  --font-size :clamp(1rem, 1vw, 3rem);
  --icon-size:clamp(0.8rem, 2vw, 1.5rem);
  --nav-menu-gap:clamp(10px, 2vw, 25px);
  --color-nav-menu-bg: rgba(158, 161, 137, 0.6) !important;

  --color-nav-text: var(--color-text);
  --color-nav-hover: var(--color-secondary);
  --nav-height: clamp(4rem, 8vh, 4rem);
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-nav-bg);
  z-index: 1000; /* increased to ensure nav is always on top */
}
.menu {
  width: fit-content;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 5px 20px;
  background-color: var(--color-nav-menu-bg);
  cursor: pointer;
  font-size: var(--font-size);
  
}

.menu ul {
  list-style: none;      /* Removes bullet points */
  padding: 0;
  margin: 0;
  gap: var(--nav-menu-gap);
  display: flex;         /* Makes list items appear in a row */
}
ul li {
  list-style: none;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--color-text);
}
ul li.active {
  background-color: var(--color-primary); /* button bg */
  color: var(--color-text-light);         /* button text */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: 600;
}

.menu li {
  text-align: center;
    color: var(--color-nav-text);

}
.menu li:hover {
    color: var(--color-nav-hover);
}
.logo {
  display: flex;
  align-items: center;

  height: clamp(30px, 5vw, 60px);
  padding: 0.5rem 1rem;
}

.logo img {
  height: 100%;
  width: auto;
    border-radius: 50%;
  object-fit: contain;
}

